FileDate2SorDate.aps
FileDate2SorDate.ncb
sorry.lib
Debug/DateUpdater.obj
Debug/FileDate2SorDate.exp
Debug/FileDate2SorDate.lib
Debug/FileDate2SorDate.obj
Debug/FileDate2SorDate.pch
Debug/FileDate2SorDate.pdb
Debug/FileDate2SorDate.res
Debug/folder.obj
Debug/StdAfx.obj
Debug/vc60.idb
Debug/vc60.pdb
FileDate2SorDate.opt
FileDate2SorDate.plg
Release/DateUpdater.obj
Release/FileDate2SorDate.exp
Release/FileDate2SorDate.lib
Release/FileDate2SorDate.obj
Release/FileDate2SorDate.pch
Release/FileDate2SorDate.res
Release/folder.obj
Release/StdAfx.obj
Release/vc60.idb
sorry.def
